# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

config.status
*.log
config.h*
stamp-*
Makefile

.deps/
.dirstamp

# C files
*.o

# Project
cade-shell
